* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellowgreen;
    padding: 25px;
    font-family: monospace;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

body div.users-list {
    background-color: #ccc;
    padding: 10px;
    flex: 1 1 230px;
}

body div.users-list ul {
    padding-left: 0;
}

body div.users-list ul li {
    list-style: none;
    padding: 6px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #1e90ff;
    border-radius: 25px;
    cursor: pointer;
    min-width: max-content;
    font-weight: 600;
}

body div.users-list ul li:hover {
    background-color: skyblue;
    border: 2px solid black;
}

body div.users-list ul li p {
    font-size: small;
}

body div.posts-list {
    background-color: #aaa;
    padding: 10px;
    flex: 5 1 400px;
}

body div.posts-list h3 {
    background-color: #ccc;
    padding: 10px;
    padding-left: 0;

}